name: unsub
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  # State management
  flutter_bloc: ^9.1.0
  equatable: ^2.0.5

  # Network
  dio: ^5.7.0

  # Local storage (tokenlər üçün)
  flutter_secure_storage: ^9.2.2

  # JSON
  json_annotation: ^4.9.0

  cupertino_icons: ^1.0.8
  dartz: ^0.10.1

  # Firebase
  firebase_core: ^3.10.0
  firebase_messaging: ^15.2.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  build_runner: ^2.4.13
  json_serializable: ^6.9.0

flutter:
  uses-material-design: true

  # assets:
  #   - images/a_dot_burr.jpeg
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #

